In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/data_2400.csv")
df.head()

,race_year,race_month,race_day,race_course,race_number,race_distance,race_ground,race_state,horse_ranking,horse_nm,...,horse_3_ground,horse_3_distance,horse_3_ground_state,horse_3_time,horse_3_time_margin,horse_3_leg_quality,horse_3_last_time,horse_3_weight,horse_3_weight_vary,horse_3_prize
0,2016,1,30,4,4,2400,0,4,1,14,...,0,0,4,0.0,0.0,4,0.0,0,0.0,0.0
1,2016,1,30,4,4,2400,0,4,2,12,...,0,0,4,0.0,0.0,4,0.0,0,0.0,0.0
2,2016,1,30,4,4,2400,0,4,3,9,...,0,0,4,0.0,0.0,4,0.0,0,0.0,0.0
3,2016,1,30,4,4,2400,0,4,4,16,...,0,0,4,0.0,0.0,4,0.0,0,0.0,0.0
4,2016,1,30,4,4,2400,0,4,5,3,...,0,0,4,0.0,0.0,4,0.0,0,0.0,0.0

In [3]:
df.columns

Index(['race_year', 'race_month', 'race_day', 'race_course', 'race_number',
       'race_distance', 'race_ground', 'race_state', 'horse_ranking',
       'horse_nm', 'horse_name', 'horse_gender', 'horse_age', 'horse_burden',
       'horse_jocky', 'horse_time', 'horse_odds', 'horse_popularity',
       'horse_weight', 'horse_weight_vary', 'race_head', 'horse_ranking_index',
       'horse_1_course', 'horse_1_head', 'horse_1_nm', 'horse_1_odds',
       'horse_1_popularity', 'horse_1_ranking', 'horse_1_ranking_index',
       'horse_1_jocky', 'horse_1_burden', 'horse_1_ground', 'horse_1_distance',
       'horse_1_ground_state', 'horse_1_time', 'horse_1_time_margin',
       'horse_1_leg_quality', 'horse_1_last_time', 'horse_1_weight',
       'horse_1_weight_vary', 'horse_1_prize', 'horse_2_course',
       'horse_2_head', 'horse_2_nm', 'horse_2_odds', 'horse_2_popularity',
       'horse_2_ranking', 'horse_2_ranking_index', 'horse_2_jocky',
       'horse_2_burden', 'horse_2_ground', 'horse_2_distance',
       'horse_2_ground_state', 'horse_2_time', 'horse_2_time_margin',
       'horse_2_leg_quality', 'horse_2_last_time', 'horse_2_weight',
       'horse_2_weight_vary', 'horse_2_prize', 'horse_3_course',
       'horse_3_head', 'horse_3_nm', 'horse_3_odds', 'horse_3_popularity',
       'horse_3_ranking', 'horse_3_ranking_index', 'horse_3_jocky',
       'horse_3_burden', 'horse_3_ground', 'horse_3_distance',
       'horse_3_ground_state', 'horse_3_time', 'horse_3_time_margin',
       'horse_3_leg_quality', 'horse_3_last_time', 'horse_3_weight',
       'horse_3_weight_vary', 'horse_3_prize'],
      dtype='object')

In [4]:
df["horse_name"].value_counts()

ステイブラビッシモ    7
マイネルカレッツァ    7
アスコットチャンプ    6
シークレットパス     6
マイネルフレスコ     6
            ..
フィールソーグッド    1
サトノクラウン      1
ロードクエスト      1
サツキグレース      1
ダイワキャグニー     1
Name: horse_name, Length: 503, dtype: int64

## 指定した馬のnレース前までのデータを列に追加する

In [5]:
test_df = df[df["horse_name"] == "ステイブラビッシモ"].loc[:, :"horse_ranking_index"]
test_df

,race_year,race_month,race_day,race_course,race_number,race_distance,race_ground,race_state,horse_ranking,horse_nm,...,horse_age,horse_burden,horse_jocky,horse_time,horse_odds,horse_popularity,horse_weight,horse_weight_vary,race_head,horse_ranking_index
0,2016,1,30,4,4,2400,0,4,1,14,...,3,56.0,0,152.9,3.4,1,456,0.0,16,0.0625
174,2016,5,28,4,5,2400,0,0,4,9,...,3,56.0,0,145.7,12.1,5,458,0.0,10,0.4000
275,2016,10,8,4,10,2400,0,4,3,4,...,3,53.0,1,148.4,4.2,2,460,2.0,10,0.3000
322,2016,11,5,4,9,2400,0,0,4,3,...,3,55.0,0,147.0,6.7,4,458,-2.0,11,0.3636
377,2017,2,4,4,10,2400,0,0,3,9,...,4,55.0,0,145.5,4.5,2,464,0.0,14,0.2143
561,2017,5,28,4,8,2400,0,0,4,5,...,4,57.0,0,144.5,9.8,4,458,-4.0,16,0.2500
675,2017,10,21,4,8,2400,0,4,3,5,...,4,57.0,0,150.5,6.9,5,462,0.0,11,0.2727

## 日時情報を整形
日時情報を使ってデータフレームをソートしたデータから、nレース前までのデータを取得するために行う。

In [6]:
def add_date_data(df, year_column_name, month_column_name,  day_column_name):
    df["date"] = df.apply(lambda row: f"{row[year_column_name]}-{row[month_column_name]}-{row[day_column_name]}", axis=1)
    df["date"] = pd.to_datetime(df["date"])

In [7]:
add_date_data(test_df, "race_year", "race_month", "race_day")
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 675
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   race_year            7 non-null      int64
 1   race_month           7 non-null      int64
 2   race_day             7 non-null      int64
 3   race_course          7 non-null      int64
 4   race_number          7 non-null      int64
 5   race_distance        7 non-null      int64
 6   race_ground          7 non-null      int64
 7   race_state           7 non-null      int64
 8   horse_ranking        7 non-null      int64
 9   horse_nm             7 non-null      int64
 10  horse_name           7 non-null      object
 11  horse_gender         7 non-null      int64
 12  horse_age            7 non-null      int64
 13  horse_burden         7 non-null      float64
 14  horse_jocky          7 non-null      int64
 15  horse_time           7 non-null      float64
 16  horse_odds           7 non-null      float64
 17  horse_popularity     7 non-null      int64
 18  horse_weight         7 non-null      int64
 19  horse_weight_vary    7 non-null      float64
 20  race_head            7 non-null      int64
 21  horse_ranking_index  7 non-null      float64
 22  date                 7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(16), object(1)
memory usage: 1.3+ KB

## nレース前までのデータを列に追加する

In [8]:
def create_horse_data(n_race, df):
    df.sort_values("date", inplace=True)
    race_df = df.iloc[-1:, :].reset_index(drop=True)
    columns = race_df.columns
    for n in range(1, n_race+1):
        add_columns = list(map(lambda c: c+f"_{n}", columns))
        add_race = df.iloc[-1-n:-n, :].reset_index(drop=True)
        add_race.columns = add_columns
        race_df = pd.concat([race_df, add_race], axis=1)
    return race_df

In [10]:
# 3レース前までのデータを列に追加
result = create_horse_data(3, test_df)
result

,race_year,race_month,race_day,race_course,race_number,race_distance,race_ground,race_state,horse_ranking,horse_nm,...,horse_burden_3,horse_jocky_3,horse_time_3,horse_odds_3,horse_popularity_3,horse_weight_3,horse_weight_vary_3,race_head_3,horse_ranking_index_3,date_3
0,2017,10,21,4,8,2400,0,4,3,5,...,55.0,0,147.0,6.7,4,458,-2.0,11,0.3636,2016-11-05

In [9]:
def extract_previous_race(n, df):
    return df.loc[:, f"race_year_{n}": f"horse_ranking_index_{n}"]

In [11]:
extract_previous_race(1, result)

,race_year_1,race_month_1,race_day_1,race_course_1,race_number_1,race_distance_1,race_ground_1,race_state_1,horse_ranking_1,horse_nm_1,...,horse_age_1,horse_burden_1,horse_jocky_1,horse_time_1,horse_odds_1,horse_popularity_1,horse_weight_1,horse_weight_vary_1,race_head_1,horse_ranking_index_1
0,2017,5,28,4,8,2400,0,0,4,5,...,4,57.0,0,144.5,9.8,4,458,-4.0,16,0.25

In [12]:
extract_previous_race(2, result)

,race_year_2,race_month_2,race_day_2,race_course_2,race_number_2,race_distance_2,race_ground_2,race_state_2,horse_ranking_2,horse_nm_2,...,horse_age_2,horse_burden_2,horse_jocky_2,horse_time_2,horse_odds_2,horse_popularity_2,horse_weight_2,horse_weight_vary_2,race_head_2,horse_ranking_index_2
0,2017,2,4,4,10,2400,0,0,3,9,...,4,55.0,0,145.5,4.5,2,464,0.0,14,0.2143

In [13]:
extract_previous_race(3, result)

,race_year_3,race_month_3,race_day_3,race_course_3,race_number_3,race_distance_3,race_ground_3,race_state_3,horse_ranking_3,horse_nm_3,...,horse_age_3,horse_burden_3,horse_jocky_3,horse_time_3,horse_odds_3,horse_popularity_3,horse_weight_3,horse_weight_vary_3,race_head_3,horse_ranking_index_3
0,2016,11,5,4,9,2400,0,0,4,3,...,3,55.0,0,147.0,6.7,4,458,-2.0,11,0.3636